doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title MemoPad
  body
    h1 Hello World
    form(method='post')
      span Enter your mailaddress：
      input(type="text" name="mailaddress")
      br
      span Enter your password：
      input(type="text" name="password")
      br
      button(type="submit" formaction='/posts?all') login 

