doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Memopad
  body
    h1 Hello World
    form(method="post" action=path)
      span Enter your mailaddress：
      input(type="text" name="mailaddress")
      br
      span Enter your password：
      input(type="text" name="password")
      br
      button(type="submit" value="login") login 
